<div class="game-container">
  <div class="board-container">
    <label class="player-name">{{ opponentsName || 'No game in progress' }} {{ opponentsResult }}</label>
    <div class="game-timer">
      <label>{{ opponentsTime | millisToTime }}</label>
    </div>
    <div id="game-board"></div>
    <label class="player-name">{{ myName || 'No game in progress' }} {{ myResult }}</label>
    <div class="game-timer">
      <label>{{ myTime | millisToTime }}</label>
    </div>
    <br>
    <button class="button" (click)="logOut()">Log Out</button>
    <button class="button" *ngIf="!isGameInProgress" (click)="startGame()">Play</button>
    <button class="button" *ngIf="isGameInProgress" (click)="resign()">Resign</button>
    <button class="button" *ngIf="isGameInProgress && !drawHasBeenOffered" (click)="offerDraw()">Offer Draw</button>
    <button class="button" *ngIf="drawHasBeenOffered" (click)="acceptDraw()">Accept Draw</button>
    <button class="button" *ngIf="!isGameInProgress && gameInfo && !rematchHasBeenOffered" (click)="offerRematch()">Offer Rematch</button>
    <button class="button" *ngIf="rematchHasBeenOffered" (click)="acceptRematch()">Accept Rematch</button>
  </div>
  <div>
    <app-chat (send)="sendMessage($event)" [messages]=messages></app-chat>
  </div>
  <div>
    <app-online-players
      [players]="onlinePlayers"
      (challenge)="challengePlayer($event)"
      (accept)="acceptChallenge($event)"></app-online-players>
  </div>

</div>

