.game-container {
  margin: 30px;
  display: flex;
}

.board-container {
  display: inline-block;
  margin-right: 30px;
}

#game-board {
  width: 500px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.player-name {
  font-size: x-large;
}

.game-timer {
  float: right;
  font-size: xx-large;
}

button {
  margin-top: 15px;
  margin-right: 10px;
}
