<div class="chat-area" #chatArea [scrollTop]="chatArea.scrollHeight">
    <div [ngClass]="{ 'system-message': message.sender === 'SYSTEM' }" *ngFor="let message of messages">
      <label class="sender">{{ message.sender }}: </label>
      <label>{{ message.content }}</label>
    </div>
</div>
<input class="text-input chat-input" placeholder="Type your message here..." [(ngModel)]="text" (keyup.enter)="sendMessage()">

