.chat-area {
  height: 507px;
  max-width: 300px;
  border: 1px solid black;
  overflow-y: scroll;
  overflow-wrap: break-word;
  background-color: lightgray;
  color: black;
  padding: 10px;
  margin-right: 10px;
}

.chat-input {
  text-align: start;
}

.system-message {
  font-weight: bold;;
}

.sender {
  font-weight: bold;
}
