.player-container {
  height: 507px;
  width: 300px;
  border: 1px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
  background-color: lightgray;
  color: black;
  padding: 10px;

}

.title {
  font-weight: bold;
}

.name-column {
  width: 185px;
  max-width: 185px;
  word-wrap: break-word;
  white-space: normal;
}

.accept-button {
  background-color: darkblue;
}

.waiting-button {
  background-color: #8ecc90;
}

table {
  table-layout: fixed;
}
