<div class="player-container">
  <h3 class="title">Online Players</h3>
  <table>
    <tr *ngFor="let player of players">
      <td class="name-column">{{ player.name }}</td>
      <td>
        <button class="button" *ngIf="player.challengeStatus === statuses.NONE" (click)="challengePlayer(player)">Challenge</button>
        <button class="button waiting-button" *ngIf="player.challengeStatus === statuses.SENT" disabled>Waiting...</button>
        <button class="button accept-button" *ngIf="player.challengeStatus === statuses.RECEIVED" (click)="acceptChallenge(player)">Accept</button>
      </td>
    </tr>
  </table>
</div>

