<div class="form-content">
    <img src="assets/logo.jpg" width="400" alt="">

    <h2>Register</h2>
    <div class="form-control">
      <input class="text-input" [(ngModel)]="user.email" placeholder="Email" (keyup)="showError = false;">
    </div>
    <div class="form-control">
      <input type="password" [(ngModel)]="user.password" placeholder="Password" class="text-input" (keyup)="showError = false;">
    </div>
    <div>
        <button class="button"
        [disabled]="!user.email || !user.password"
        (click)="register()">Register</button>
    </div>
    <div class="error-text" *ngIf="showError">Email already exists, choose another.</div>
    <div>Already have an account? <a href="" routerLink="/auth/login">Click here</a> to log in.</div>
</div>
