/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: gray;
  color: white;
}

.form-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.form-content img {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 300px;
}

.form-content button {
  margin: 20px;
}

.button {
    margin-bottom: 10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
}

.text-input {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.error-text {
    color: red;
    margin-bottom: 10px;
}

.chat-page {
    display: flex;
}

.column {
    align-content: flex-start;
    flex-direction: column;
    padding: 10px;
}
