<div class="form-content">
    <img src="assets/logo.jpg" alt="">
    <h2>Login</h2>
    <div class="form-control">
      <input class="text-input" placeholder="Email" [(ngModel)]="user.email" (keyup)="showError = false;">
    </div>
    <div class="form-control">
      <input type="password" placeholder="Password" class="text-input" [(ngModel)]="user.password" (keyup)="showError = false;">
    </div>
    <div>
        <button class="button"
                [disabled]="!user.email || !user.password"
                (click)="login()">Login</button>
    </div>
    <div class="error-text" *ngIf="showError">Wrong password and/or email.</div>
    <div>You don't have an account? <a href="" routerLink="/auth/register">Click here</a> to register.</div>
</div>
